<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EDIT</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">

          </li>
          <li class="nav-item dropdown">

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">

          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>
<div>
  <h1  class="text-center mt-3">Chinh Sua THanh PHo</h1>
  <form method="post" class="container">
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label" >Ten :</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="city" value="{city}">
    </div>
    <div class="mb-3 ">
      <label for="exampleInputPassword1" class="form-label">Quoc Gia:</label>
      <input type="text" class="form-control" id="exampleInputPassword1"name="country" value="{country}">
    </div>
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">Dien Tich :</label>
      <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"name="area" value="{area}">
    </div>
    <div class="mb-3 ">
      <label for="exampleInputPassword1" class="form-label">Dan so :</label>
      <input type="text" class="form-control" id="exampleInputPassword2"name="population" value="{population}">
    </div>
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">GDP :</label>
      <input type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp"name="GDP" value="{GDP}">
    </div>
    <div class="mb-3 ">
      <label for="exampleInputPassword1" class="form-label">Mo ta :</label>
      <input type="text" class="form-control" id="exampleInputPassword3"name="description" value="{description}">
    </div>
    <div  class="text-center">
      <button type="submit" class="btn btn-primary">Cap Nhat</button>
      <a href="/home" type="button" class="btn btn-primary">Thoat</a>
    </div>


  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>